/** @format */
.item {
 box-shadow: 0 0 3px rgb(110, 110, 110, 0.781);
 padding: 15px;
 margin-top: 20px;
}
.item .name {
 color: tomato !important;
 font-size: 20px !important;
}
.item .price {
 text-align: center;
 color: rgba(0, 0, 0, 0.699);
 font-size: 20px;
}
.item button {
 margin-top: 10px;
 background-color: rgb(30, 216, 30) !important;
 color: white !important;
}
